:root {
    --background: black;
    --background-transparent: rgba(0, 0, 0, 0.7);
    --foreground: white;
    --accent-one: rgb(245, 169, 70);
    --accent-two: red;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    background: var(--background);
}

h1 {
    font-family: Praise, cursive;
    font-size: 72px;
}

input[type="button"]{
    font-family: Praise, cursive;
    font-size: 4vmin;
    color: var(--foreground);
    background: none;
    border: none;
    border-bottom: 5px solid var(--foreground);
}

input[type="button"]:hover{
    color: var(--accent-one);
    border-bottom: 5px solid var(--accent-one);
}

input[type="button"]:active{
    scale: 0.9;
}

/* Landing Card */

#landingCard {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    user-select: none;
}

#landingImage {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: cover;
}

#landingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* Content Page */

#backgroundImage {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    object-fit: cover;
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    user-select: none;
    background-color: var(--background);
    color: var(--foreground);
}

#homeText {
    font-size: 32px;
}

#recipes {
    height: 90%;
    width: 80%;
    display: grid;
    grid-template-rows: 10% 85%;
    grid-template-columns: 30% 65%;
    grid-template-areas: 
    "recipeNav recipeNav"
    "leftContainer rightContainer";
    gap: 5%;
}

#recipeNav {
    grid-area: recipeNav;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    user-select: none;
    text-align: center;
    color: var(--foreground);
    font-size: 24px;
}

#leftContainer {
    position: relative;
    min-height: 100%;
    height: 100%;
    border: 5px solid var(--background);
}

#recipeImage {
    position: absolute;
    min-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#resContainer {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: var(--background-transparent);
    pointer-events: none;
}

#rightContainer {
    grid-area: rightContainer;
    display: grid;
    grid-template-rows: 10% 90%;
    gap: 5px;
}

#rightNav {
    display: grid;
    grid-template-columns: 32% 34% 32% ;
    gap: 1%;
}

#rightContent {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    color: var(--foreground);
    text-align: justify;
    font-size: 24px;
}

/* Sub-Classes */

.cleanLink {color: white;}
.tightText {margin: 5px; padding: 0;}
.bottomMargin {margin-bottom: 20px;}
.flexcenter {display: flex; align-items: center; justify-content: center;}
.clickable {cursor: pointer;}
.clickable:hover {color: var(--accent-one)}
.restriction{max-height: 100%; height: 100%; margin: 0; padding: 0;}
.cursive{font-family: Praise, cursive;}
.navButton {border-bottom: 3px solid var(--foreground);}

/* Main Classes */

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

