:root {
    --background: black;
    --foreground: white;
    --accent-one: gray;
    --accent-two: red;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    overflow: hidden;
}

/* Landing Card */

#landingCard {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
}

#landingImage {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: cover;
}

#landingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* Content Page */

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    user-select: none;
}

#recipes {
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "recipeNav recipeNav"
    "leftContainer rightContainer";
    gap: 10px;
}

#recipeNav {
    grid-area: recipeNav;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    user-select: none;
    text-align: center;
    color: var(--foreground);
}

#leftContainer {
    grid-area: leftContainer;
    display: grid;
    grid-template-rows: 89% 9%;
    height: 100%;
    gap: 2%;
}

#recipeImage {
    min-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#resContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#rightContainer {
    grid-area: rightContainer;
    display: grid;
    grid-template-rows: 10% 90%;
    gap: 5px;
}

#rightNav {
    display: grid;
    grid-template-columns: 32% 32% 32% ;
    gap: 2%;
}

#rightContent {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    color: var(--foreground);
    text-justify: justify;
}

/* Sub-Classes */

.cleanLink {color: white;}
.tightText {margin: 5px; padding: 0;}
.bottomMargin {margin-bottom: 20px;}
.flexcenter {display: flex; align-items: center; justify-content: center;}
.clickable {cursor: pointer;}
.restriction{max-height: 100%; height: 100%; margin: 0; padding: 0;}

/* Main Classes */

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.bar {
    width: 100%;
    background-color: var(--foreground);
    color: var(--background);
}

/* Animation */